.hotel-view {
    background-color: #fff;
    flex: 1;
}


.detail {
    display: flex;
    padding: 4.5rem;
    background-color: var(--grey-light-1);
    border-bottom: var(--line);
    
    @media only screen and (max-width: $medium-bp) {
        padding: 3rem;
    }

     @media only screen and (max-width: $small-bp) {
        flex-direction: column;
    }
}

.description {
    font-size: 1.4rem;
    background-color: #fff;
    box-shadow: var(--shadow-light);
    padding: 3rem;
    flex: 0 0 60%;
    margin-right: 4.5rem;

    @media only screen and (max-width: $medium-bp) {
        padding: 2rem;
        margin-right: 3rem;
    }

    @media only screen and (max-width: $small-bp) {
        margin-right: 0;
        margin-bottom: 3rem;
    }
}

.user-reviews {
    flex: 1;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}