.cta {
    padding: 3.5rem 0;
    text-align: center;

    &__title {
        font-size: 1.5rem;
        font-weight: 300;
        text-transform: uppercase;
        margin-block-end: 1.5rem;
    }


    @media only screen and (max-width: $medium-bp) {
        padding: 2.5rem 0;
    }
}
